.header h1 {
  color: mediumaquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
}

.header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   border-bottom: solid;
   border-bottom-width: thin;
   padding-bottom: 15px;
 }

#content {
  display: inline-block;
  justify-content: flex-start;
  flex-direction: row;
}

.header li {
  padding-right: 15px;
  color: black;

}

.header ul {
  display: flex;
  list-style: none;
  color: black;
}

#logo {
  display: flex;
  align-items: center;
  border-spacing: inherit;
  padding-left: 15px;
}

.Mother h4 {
  border: solid;
  border-width: thin;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-family: Georgia;
   font-weight: bold;
   font-size: 40px;
   color: white;
   height: 300px;
}

.orca p {
 padding-bottom: 50px;
}

.orca h2 {
  font-family: Georgia;
  font-size: 30px;
  color: black;
}

#Earth {
  border: solid;
  height: 300px;
  width: 300px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;


}

#Earth p {
  align-content: center;

}

.p1 {

  width: 630px;

}

.p2 {
  margin-right: 5px;
  width: 300px;

}

.p3 {
  margin-right: 250px;
  width: 240px;
  flex-direction: column;

}



#cookie h2 {
  font-size: 16px;
    font-weight: bold;
  }

#cookie p {
  background-color: WhiteSmoke;
   font-family: Verdana;
   font-size: 12px;
   color: DimGray;
border-bottom: solid;
border-width: thin;
border-color: black;
margin: 0 auto;

height: 30px;
}

.fbi {

}

.fbi h2 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.fbi p {

}

.page {
  display: flex;
  justify-content: space-between;

}

.research {
  font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
 height: 300px;
 width: 300px;
 align-content: center;
 padding-top: 2px;



}

#cats {
  font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
 height: 300px;

}

.burger h2 {
  font-family: Georgia;
  font-size: 30px;
  color: black;

}

.box {
  display: flex;
  justify-content: space-between;

}

.burger {
  margin: auto;

}

.burger p {
  padding-bottom: 50px;
}

.left {
  margin-right: 30px;
}

body {

}

.footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;

  width: 100%;



.footer h2 {
  font-family: Georgia;
font-size: 16px;
font-weight: bold;
color: white;
}
